/**
* Main styling file.
**/
.center{
    margin: 0 auto;
    width: 85%;
}
a{
    padding: 3px;
}

.createbutton {
    margin: 10px;
}
td{
    vertical-align: middle !important;
}
.notification-body{
    width: 200px !important;
    display: flex;
    padding: 15px;
}
.icon{
    margin: auto;
}
.search{display:flex}
.input{
    margin:10px;
    width: 15%;
}
.page{
    display: inline-flex;
    margin: 0;
    padding: 0;
}
.reducedWidth{
width:10%
}